@model Admin.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>
<div class="text-danger" style="width:200px">
    @Model.Message
</div>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Change password" class="btn btn-primary btn-full" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}