@model Admin.Models.ForgotPasswordViewModel
<h2>@Website.App_LocalResources.LanguageLabel.ForgotPassword</h2>
@using (Html.BeginForm("ForgotPassword", "manage", FormMethod.Post, new { @class = "form", role = "form", width = "300px" }))
{
    @Html.AntiForgeryToken()
    if (string.IsNullOrEmpty(Model.Message) == false)
    {
        <ul class="text-danger">
            <li>@Model.Message</li>
        </ul>
    }
    <div class="form register-form">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form">
            <p style="width:310px">@Website.App_LocalResources.LanguageLabel.ForgotPasswordMessage</p>
        </div>
        <div class="form-group country-field-group phone-forgotpassword-field">
            @Html.HiddenFor(model => model.CountryCode)
            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", maxlength = 15, placeholder = Website.App_LocalResources.LanguageLabel.YourPhonePlaceholder } })
            <script>
                $("#Phone").intlTelInput({ nationalMode: false });
            </script>

        </div>
        <div class="form-group">

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-full" onclick="User.setCountryCode(); return true;" value="@Website.App_LocalResources.LanguageLabel.Continue" />
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        User.detectCountryCode();
    });
</script>