@model Website.Models.EditCampaignViewModels
<div class="form">
    @Html.ValidationSummary(false, "", new { @class = "text-danger", id = "messagePanel" })
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", maxlength = 200 } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", maxlength = 18 } })
    </div>
    <div class="form-group">
        <label class="control-label" style="position:relative;top:-29px">Status</label>
        <div style="display:inline-block">
            <div>
                @{
                    string statusOn = Model.Status ? "checked" : string.Empty;
                    string statusOff = !Model.Status ? "checked" : string.Empty;
                }
                <input type="radio" id="status" name="status" value="On" @statusOn />
                <label class="control-label" style="color:green">On</label>
            </div>
            <div>
                <input type="radio" id="status" name="status" value="Off" @statusOff />
                <label class="control-label" style="color:red">Off</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="button" value="Save" onclick="Campaign.update()" class="btn btn-primary btn-full" />
    </div>
    <div class="form-control-noborder" style="text-align:center">
        <img src="../images/line.png">
        or?
        <img src="../images/line.png">
    </div>
    <div class="form-group">
        <input type="button" value="Dismiss" onclick="ADV.dismiss()" class="btn btn-primary btn-full" />
    </div>
    <div class="form-control-noborder" style="text-align:center">
        <img src="../images/line.png">
        or?
        <img src="../images/line.png">
    </div>
    <div class="form-group">
        <input type="button" value="Delete" onclick="Campaign.destroy(@Model.Id)" class="btn btn-primary btn-full" />
    </div>
</div>