@model PagedList.IPagedList<Website.Models.ScheduleDetailModel>
@using PagedList.Mvc;
<a href="~/Templates/URLTemplate.xml" target="_blank">Please download the template</a>
<table class="table">
    <tr>
        <th class="text-center">
            Order
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FilePath)
        </th>
        <th class="text-right" style="width:20px">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Hour)
        </th>
        <th class="text-right" style="width:20px">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Minute)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Active)
        </th>
        <th class="text-center" style="width:250px">
            @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
        </th>
        <th class="text-center" style="width:150px">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedDate)
        </th>
        <th class="text-center" style="width:100px">

        </th>
    </tr>
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td class="text-center">
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
                <a href="javascript:Index.showScheduleDetail(@item.Id)" class="pull-right">
                    <img src="~/Images/edit.png" style="width:15px" />
                </a>
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Minute)
            </td>
            <td class="text-center">
                <input type="checkbox" checked="@item.Active" disabled="disabled" />
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td class="text-center">
                <a href="javascript:runSchedule(@item.Id)">Run</a>
                @if (item.ErrorMessage != null && item.ErrorMessage.Length > 0)
                {
                    <img src="~/Images/error.png" class="index-error" title="@item.ErrorMessage" style="width:20px" />
                }
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => "javascript:Index.loadScheduleList(" + page + ")")
<script>
    $(document).ready(function(){
        Index.settings.page = @Model.PageNumber;
    });
    function runSchedule(id){
        var that = this;
        Util.Layout.showLoading();
        $.ajax({
            type:"post",
            data:{id:id},
            url:"index/runschedule",
            success:function(response){
                //Error
                if(response.length>0){
                    alert(response);
                }else{
                    alert("Successful!");
                }
                Util.Layout.hideLoading();
                //Reload
                Index.loadScheduleList(Index.settings.page);
            },error:function(){
                Util.Layout.hideLoading();
            }
        });
    }
</script>