<h2>@Website.App_LocalResources.LanguageLabel.Contact</h2>
<address>
    @Website.App_LocalResources.Company.Name
    <br />
    <a href="#" target="_blank">@Website.App_LocalResources.Company.Address</a>
    <br />
    <abbr title="@Website.App_LocalResources.LanguageLabel.Phone">P:</abbr>
    @Website.App_LocalResources.Company.PhoneNumber
    <br />
    <abbr title="@Website.App_LocalResources.LanguageLabel.Email">E:</abbr>
    @Website.App_LocalResources.Company.Email
    <br />
    <abbr title="@Website.App_LocalResources.LanguageLabel.Fax">F:</abbr>
    @Website.App_LocalResources.Company.Fax
</address>

<address>
    <strong>@Website.App_LocalResources.LanguageLabel.Support:</strong>   <a href="mailto:support@example.com">support@example.com</a><br />
    <strong>@Website.App_LocalResources.LanguageLabel.Business:</strong> <a href="mailto:business@example.com">business@example.com</a>
</address>
<div class="result-message">@ViewBag.Message</div>